html,
body,
.main {
  height: 100%;
}


.main {
  display: flex;
  flex-direction: column;

  .topbar {
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }


  .box {
    flex: 1;
    padding-top: 50px;
    .content{
      padding: 20px;
      .maincontent{
        padding: 20px;
        box-shadow: 0 0 5px rgba($color:#000000,$alpha:0.2);
      } 
    }
  }
}