@import '../../style.scss';

.newsbg{
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url('http://localhost:3000/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
  .search-container{
      position: absolute;
      width: 75%;
      bottom: 50px;
      left: 50%;
      transform: translate(-50%);
      .list-group{
        position: absolute;
        width: 100%;
        opacity: 80%;
      }
  }
}

.cardContainer{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  .card{
    width: calc(100vw / 4 - 20px) ;
    .card-img-top{
      width: 100%;
      height: 150px;
      background-size: cover;
      background-position: center;
    }
    &:hover{
      box-shadow: 0 0 5px black;
    }
  }
}

.newsTabs{
  padding: 30px;
  .listItem{
    padding: 10px;
    height: 100px;
    border: 1px solid gray;
    overflow: hidden;
    img{
      float: left;
      width: 120px;
      height: 100%;
    }
  }
}