<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">峰企网站</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <!-- 跳转到产品页面 -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/web/views/products/index.html"
            id="topbar-products">产品与服务</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/web/views/news/index.html" id="topbar-news">新闻中心</a>
        </li>
        <!-- 跳转到登录页面 -->
        <li class="nav-item">
          <a class="nav-link" href="/admin/views/login/index.html" id="topbar-login">登录</a>
        </li>
      </ul>
    </div>
  </div>
</nav>